<% var type = file.split(/[\\\/]/).slice(-1)[0].split(".")[0] %>
<div class="panel-group standard-day-block" id="<%= type %>">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= type %>">
                <i class="glyphicon glyphicon-chevron pull-right"></i>
                <h4 class="panel-title"> <%= title %></h4>
            </a>

        </div>
        <% if (title === "Test") {%>
            <div style="width: 100%; height: 25px;">
                <button class="pull-right btn btn-default" style="margin: 10px 23px" onclick = "runTheTest()">Retest</button>
            </div>
        <% } %>
        <div id="<%= type %>" class="panel-collapse collapse in">
            <div class="panel-body">
                <% if (file.slice(-2) === "md") { %>
                    <div class="markdown-body">
                        <%- md(file) -%>
                    </div>
                <% } else { %>
                    <%- include(file) -%>
                <% } %></div>
        </div>
    </div>
</div>